#signup .container #signup-row #signup-column #signup-box {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  height: 650px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 20px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
  margin-top: -50px;
}
